/*PAGE ACCUEIL SANS CONNEXION*/

/* Header */
#navbar {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments enfants */
    padding-bottom: 1.7em;
}

#lien_connexion_header {
    margin-left: auto; /* Pour pousser le lien "Connexion" à droite */
    margin-top: 10px; /* Marge en haut */
    margin-right: 20px; /* Marge à droite */
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-right: 2em;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 1.5em;
    cursor: pointer;
}

#logo_accueil {
    margin-top: 10px; /* Marge en haut */
    margin-left: 2em; /* Marge à gauche */
    width: 6em;
}




/* Section accueil */
#accueil {
    background-color: rgba(218, 215, 250, 0.299);
    padding: 3em;
    position: relative; /* Position relative pour que les éléments positionnés absolument se réfèrent à cette section */
}

#titre_accueil {
    font-size: 3em;
    margin-top: 0;
    text-align: center;
    margin-bottom: 1em;
    cursor: default;
}

#cartes_accueil {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Masquer le débordement pour éviter que les images ne dépassent de la section */
}

.carte_animation {
    position: relative; /* Définir la position relative */
    width: 13em;
    animation: arriveeDeLaGauche 1s ease-in-out forwards; /* Applique l'animation */
    opacity: 0; /* Commence avec une opacité à 0 */
    margin: 0 -10px; /* Ajuste la marge négative pour que les images se chevauchent */
}

.carte_animation:first-child {
    margin: 0; /* Réinitialise la marge de la première image */
}

@keyframes arriveeDeLaGauche {
    from {
        transform: translateX(-100%); /* Commence en dehors de la section à gauche */
        opacity: 0; /* Opacité à 0 */
    }
    to {
        transform: translateX(0); /* Se place à sa position normale */
        opacity: 1; /* Opacité à 1 */
    }
}



#bouton_connexion_accueil {
    display: block;
    margin: 1em auto 0;
    margin-top: 2em;
    font-size: 1rem;
    background-color: azure;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;    
    border: 2px solid transparent; /* Bord du bouton initialement transparent */
    transition: border-color 0.3s ease; /* Transition douce pour la couleur du bord */

}



/*   SECTION OFFRES  */

.offres-container {
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne */
}

.offre_stage {
    width: calc(42% - 5px); /* Chaque article occupe 50% de la largeur avec un espacement de 5px */
    padding: 20px;
    background-color: #f2f2f2;
    margin-right: 10px;
    margin-bottom: 10px; /* Espacement entre les lignes */
    border-radius: 6px;
    margin-top: 2.5em;
    margin-left: 2.5em;
    padding-right: 3em;
    display: flex;
    align-items: center;
}

.offre-details {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.imgs_offre {
    width: 10em;
    float: left;
    margin-left: 0.7em;
    margin-right: 2em;
    margin-top: auto;
    margin-bottom: auto;

}

.titre_poste {
    font-size: 1.5em;
    margin-top: 0;
}

.bouton_candidater {
    width: 80%;
    align-self: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    border: 0.5px solid black;
    cursor: pointer;
    background-color: white;
    font-size: 1em;
    margin-top: 1em;
}

/*PAGE DE CONNEXION*/

#bienvenue{
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

#logo_connexion{
    width: 10em;
    margin-top: 0.2em;
}

#titre_bienvenue{
    font-size: 2.5em;
    margin-bottom: 1em;
}

#fenetre_login{
    width: 40%;
    margin: auto;
    border: solid black 1px;
    border-radius: 6px;
    padding: 2em;
    padding-top: 0.5em;
}

.input_connexion{
    padding: 0.6em;
    border-radius: 5px;
    border: solid black 1px;

}

#boutons{
    text-align: center;
    margin-top: 2em;
}

#oubli_mdp, #submit {
    cursor: pointer;
    display: inline-block; /* Afficher les boutons en ligne */
    margin-top: 2em; /* Marge supérieure entre les boutons et les éléments précédents */
    border: 1px solid black;
    border-radius: 6px;
    padding: 1em;
    margin-right: 0.5em; /* Marge droite de 0.5em entre les boutons */
}

#oubli_mdp {
    background-color: lightgray; /* Style différent pour le bouton "Pardon, j'ai oublié mon mot de passe" */
}

#submit {
    background-color: lightblue; /* Style différent pour le bouton "Se connecter" */
}


/*gestion entreprise etudiant*/

.form-section {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.form-block {
    border: 1px solid #ccc; 
    flex:1;
    background-color: #B3B3B3; 
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

.form-row {
    margin-bottom: 15px;
}

.button-search, .button-reset {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.button-search{
    border: solid;
    border-color: #c2c2c2;
}

.button-reset {
    background-color: #B3B3B3;
    color: black;
    border: solid;
    border-color: #797979;    
}

.button-reset:hover {
    background-color: #bbbbbb;
}

.logo{
    text-align: center;
}

.titre{
    padding-left: 20px;
}

.form-section input {
    border: 1px solid #e9e9e9; /* Add a solid border */
    border-radius: 5px; /* Make the borders round */
  }

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu span {
  height: 2px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

.listeentreprises{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.ficheentreprise{
    background-color: #F8F8F8;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.elementfiche{
    flex: 1;
}

/* fin gestion entreprise etudiant*/

footer{

    margin-top: 15em;
    padding-bottom: 5em;
    padding-top: 2em;
    text-align: center;
    background-color: rgb(154, 154, 154);
}

.police_texte{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor:default;
}